* {
  margin: 0;
  padding: 0;
}

.header {
  box-sizing: border-box;
  background-color: #75cf30;
  width: 100vw;
  height: 10vh;
  padding-left: 10px;
}
.container {
  display: flex;
  width: 100vw;
  height: 80vh;
}

.box1 {
  background-color: #ffffff;
  width: 60vw;
  padding-left: 10px;
}
.box2 {
  background-color: #f2fada;
  width: 20vw;
  padding-left: 10px;
}
.box3 {
  background-color: #d0edd3;
  width: 20vw;
  padding-left: 10px;
}
.footer {
  box-sizing: border-box;
  background-color: #75cf30;
  width: 100vw;
  padding-left: 10px;
  height: 10vh;
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  .container {
    max-width: 767px;
    flex-direction: column-reverse;
  }
  .box1 {
    height: 30vh;
    width: 100vw;
  }
  .box2 {
    height: 25vh;
    width: 100vw;
  }
  .box3 {
    height: 25vh;
    width: 100vw;
  }
  .footer {
    height: 12vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1540px) {
  .container {
    max-width: 1540px;
  }
}
@media screen and (min-width: 1540px) and (max-width: 2540px) {
  .container {
    max-width: 2480px;
  }
}
